h1 {
  padding: 0.5em;
  font-size: 3em;
}
.icons{
  text-align: left;margin-top: 1.2em;
}

.followus{
  font-size: 2em; margin-top: 1em;
}

p {
  font-size: 1.2em;
}

.container{
  margin-top: 15em;
  padding: 1em;
}

.border {
  border-style: solid;
  border-radius: 2em;
  border-color: black;
  margin: 1em;
  margin-left: 10em;
  margin-right: 10em;
}

.side {
  margin: 2em;
  display: flex;
  .side1 {
    margin-left: 5em;
  }
  .side2 {
    margin-left: 8em;
  }
}

.followusdiv{
  text-align: right;
}

li {
  color: blue($color: #000000);
}

@media only screen and (max-width: 600px) {
  p {
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
  }
  .side {
    display: inline;
    .side1 {
      margin-left: 0.5em;
      margin-right: 0em;
    }
    .side2 {
      margin-top: 2em;
      margin-left: 0.5em;
    }
    .border {
      margin: 0.5em;
    }
  }
  .border {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .container{
    margin-top: 5em;
  }

  .followus{
    font-size: 1em; margin-top: 1em;
  }

  .followusdiv{
    text-align: center;
  }

  .iconsdiv{
    text-align: center;
    margin-left: 5em;
  }
}
