<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;color: rgb(206, 1, 47);">Contact Us</h1>
    </div>

  </div>
  <div class="row border">
    <div class="col-sm-6" style="text-align: center; margin-top: 2em; ">
      <p>T. Rajasekar</p>
      <p>Mob: +91 97002 54277</p>
      <p> Mob: +91 90105 36337</p>
      <p>e-mail: frankassociates17@gmail.com</p>
    </div>

    <div class="col-sm-6" style="text-align: center; margin-top: 2em;">
      <p>V. Dilip</p>
      <p>Mob: +91 90590 00893</p>
      <p>e-mail: frankassociates17@gmail.com</p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 followusdiv">
      <label class="followus" >Follows Us On </label>
    </div>
    <div class="col-sm-6 icons iconsdiv" >
      <a href="https://twitter.com/FrankforTax"><i class="fa fa-twitter" style="font-size:36px;" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-facebook" style="font-size:36px; margin-right: 2em; margin-left: 1em;" aria-hidden="true"></i></a>

    </div>
  </div>
</div>
