<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center;">Contact Us</h1>
            </div>

        </div>
        <div class="row border" >
            <div class="col-sm-12 side">
              <div class="side1">
                <p>T. Rajasekar</p>
                <p>Mob: +91 97002 54277</p>
                  <p> Mob: +91 90105 36337</p>
                  <p>e-mail: frankassociates17@gmail.com</p>

              </div>
              <div class="side2">
                <p>V. Dilip</p>
                <p>Mob: +91 90590 00893</p>
                  <p>e-mail: frankassociates17@gmail.com</p>
              </div>
            </div>

        </div>
    </div>
</body>
</html>
