h1 {
  padding: 0.5em;
  font-size: 3em;
}

p {
  font-size: 1.2em;
}
.container{
  margin-top: 10em;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
  }
}
