h1 {
  padding: 0.5em;
  font-size: 3em;
}

li{
  font-size: 18px;
}


p {
  font-size: 1.2em;
}
.container{
  margin-top: 15em;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
  }
  .container{
    margin-top: 5em;
  }
}
