
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center;">Services Offered</h1>
            </div>

        </div>
        <div class="row" class="border">
            <div class="col-sm-12 side">
              <div class="side1">
              <h2>Accounting & Finance</h2>
              <ul>
                <li>Accounts Maintenance</li>
                <li>Funds Management</li>
                <li>Payroll Management</li>
                <li>Accounts Reconciliation and Analysis</li>
              </ul>

              <h2>Business setup and Development </h2>
              <ul>
                <li>Start-up advice</li>
                <li>Registration and other legal compliances</li>
                <li>Framing customized policies and procedures</li>
                <li>Developing Internal controls</li>
                <li>Internal Audit</li>
              </ul>

              <h2>Income Tax</h2>
              <ul>
                <li>Tax Planning and Preparation</li>
                <li>Income Tax and other forms filing</li>
                <li>Response to Notices and Representation support</li>
                <li>12A & 80G Registration</li>
                <li>TDS & TCS returns</li>
              </ul>
            </div>

            <div class="side2">
              <h2>GST</h2>
              <ul>
                <li>Registration</li>
                <li>Income Tax and other forms filing</li>
                <li>Monthly, quarterly and Annual returns</li>
                <li>Refunds</li>
              </ul>
              <h2>Companies, LLP and Firms</h2>
              <ul>
                <li>Registration</li>
                <li>ROC Filing preparation</li>
                <li>Deed Drafting</li>
              </ul>
              <h2>Other Services</h2>
              <ul>
                <li>Digital Signatures</li>
                <li>PAN & TAN</li>
                <li>Labour Registration</li>
                <li>Professional Tax Registration and Returns</li>
                <li>LEPF & ESI Registration and Returns</li>
                <li>FSSAI Registration</li>
                <li>Labour department Compliances</li>
              </ul>
            </div>
            </div>

        </div>
    </div>


