.container{
  padding: 2em;
  margin-top: 13em;
}
h1{
  padding: 0.5em;
  font-size: 3em;
}

li{
  font-size: 18px;
}

p{
  font-size: 1.2em;
}

.border{
 border-style: solid;
 border-radius: 2em;
 border-color: black;
 margin: 1em;
}


.side{
  margin: 2em;
  display: flex;
  .side1{
    margin-left: 5em;
  }
  .side2{
    margin-left: 13em;
  }

}

li{
color: blue($color: #000000);
}

@media only screen and (max-width: 600px){

  .container{
    margin-top: 5em;
  }
  p{
      font-size: medium;
      text-align: justify;
      text-justify: inter-word;
  }
  .side{
    display: inline;
    .side1{
      margin-left: 0.5em;
    }
    .side2{
      margin-left: 0.5em;
    }
    .border{
      margin: 0.5em;
    }
  }
}
