<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center;">News and Articles</h1>
            </div>

        </div>
        <div class="row" >
            <div class="col-sm-12">
                <p>All the news related to the Income Tax, GST and Companies Act will be posted in the News Column.
                  </p>
                  <p>Articles related to this above topics will be posted in the Articles Menu.</p>
            </div>

        </div>
    </div>
</body>
</html>
