.container{
  margin-top: 15em;
  padding: 1em;
}
.newslogo{
  margin-top:4em;
  text-align: center;
}
.newsnavbutton{
  border-style: solid;
  border-radius: 1em;
  padding: 0.5em;
  background-color: rgb(37, 37, 104);
  border-color: rgb(131, 131, 224);
  margin-top: 2em;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .container{
    margin-top: 5em;
  }
  p {
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    font-size: 30px;
  }

  .newslogo{
    margin-top: 0em;
  }
  img{
    height: 15em;
    width: 15em;
  }
}
