.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  color: black;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  flex: 1 1;

}

.nav{
  display: flex;

}

h1{
  font-size: 30px;
  margin-top: 0.7rem;
  color: white;
}


@media only screen and (max-width: 682px){
  .navlarge{
    display: none;
  }
  h1{
    font-size: 15px;
    margin-top: 0rem;
    color: white;
  }

}


html, body { height: 100vh; }
