.sidenav-container {
  height: 100%;
}
.mat1{
  height: 6em;
}
.title{
  font-size: 45px;
  margin-top: 1em;
  margin-left: 12em;
}

.logo{
  display: flex;
  height: inherit;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  color: black;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.iconsdiv{
  text-align: right;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.center {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav{
  display: flex;

}

.icon{
  width: 5em; height: 5em; margin-top: 0em;
}

h1{
  font-size: 30px;
  margin-top: 0.7rem;
  color: white;
  margin-left: 200%;
}
.navlarge{


}


@media only screen and (max-width: 682px){
  .navlarge{
    display: none;

  }
.title{
  font-size: 24px;
  margin-left: 3em;
}

  h1{
    font-size: 15px;
    margin-top: 0rem;
    color: white;
    margin-left: 50%;
  }

  .icon{
    width:3em;
    height: 3em;
  }

  .mat1{
    height: 4em;
  }
  .iconsdiv{
    text-align: right;
    margin-right: 0em;
  }

  .namediv{
    margin-right: 5;
  }
  .footer{
    display: none;
  }


}


html, body { height: 100vh; }
