.sidenav-container {
  height: 100%;
}

.logo{
  display: flex;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  color: black;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.center {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav{
  display: flex;

}

h1{
  font-size: 30px;
  margin-top: 0.7rem;
  color: white;
  margin-left: 200%;
}
.navlarge{

  position: fixed;
  z-index: inherit;
}


@media only screen and (max-width: 682px){
  .navlarge{
    display: none;

  }


  h1{
    font-size: 15px;
    margin-top: 0rem;
    color: white;
    margin-left: 50%;
  }


}


html, body { height: 100vh; }
