<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Frank Associates</title>
  </head>
  <body>

    <div class="container-fluid mv">
        <div class="row">
            <div class="col-lg-12" >
                <div class="card">
                    <div class="card-body">
                      <div>
                      <h5 class="card-title" style="text-align: center; font-size: 2em;">Services Offered</h5>
                    </div>
                    <div class="row" style="margin-top: 2em;">
                        <div class="card-text col-md-4">
                          <h2>Accounting & Finance</h2>
                          <ul>
                            <li>Accounts Maintenance</li>
                            <li>Funds Management</li>
                            <li>Payroll Management</li>
                            <li>Accounts Reconciliation and Analysis</li>
                          </ul>
                        </div>
                        <div class="card-text col-md-4 hide">
                          <h2>Business setup and Development </h2>
                          <ul>
                            <li>Start-up advice</li>
                            <li>Registration and other legal compliances</li>
                            <li>Framing customized policies and procedures</li>
                            <li>Developing Internal controls</li>
                            <li>Internal Audit</li>
                          </ul>
                        </div>
                        <div class="card-text col-md-4 hide">
                          <h2>Income Tax</h2>
                          <ul>
                            <li>Tax Planning and Preparation</li>
                            <li>Income Tax and other forms filing</li>
                            <li>Response to Notices and Representation support</li>
                            <li>12A & 80G Registration</li>
                            <li>TDS & TCS returns</li>
                          </ul>
                        </div>
                      </div>
                      <span><a routerLink="Services">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 1em;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size: 2em;">Tax Updates</h5>
                <p class="card-text">
                    <li>Updates and other notifications will be posted here</li>
                </p>
                <span><a routerLink="Tax">Read More</a></span>
            </div>
        </div>
        <div class="card" style="margin-top: 1em;">
          <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size: 2em;">News and Articles</h5>
              <p class="card-text">
                  <li>All the news related to the Income Tax, GST and Companies Act will be posted in the News Column.
                  </li>
              </p>
              <span><a routerLink="News">Read More</a></span>
          </div>
      </div>
      <div class="card" style="margin-top: 1em;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-size: 2em;">Contact Us</h5>

            <div class="row" style="margin-top: 2em;">
              <div class="card-text col-md-4 contact1">
                <b>T. Rajasekar</b>
                <p>Mob: +91 97002 54277</p>
                  <p> Mob: +91 90105 36337</p>
                  <p>e-mail: frankassociates17@gmail.com</p>
              </div>
              <div class="card-text col-md-4">
                <b>V. Dilip</b>
                <p>Mob: +91 90590 00893</p>
                  <p>e-mail: frankassociates17@gmail.com</p>
              </div>
          </div>
            <span><a routerLink="Contact">Read More</a></span>
        </div>
    </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>


